---
import NavBar from "../../components/NavBar.astro";
import BlogPostLayout from "../../layouts/BlogPostLayout.astro";
import { getCollection, render } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map(post => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<BlogPostLayout title={post.data.title}>
    <NavBar />
    <main>
        <div class="center">
            <div class="metadata">
                <h1 style="font-size: 40px">{post.data.title}</h1>
                <p style="font-size: 14px">Published: {post.data.date} - {post.data.time} read</p>
                <hr style="margin-top: 10px;" />
            </div>

            <div class="content">
                <Content />
            </div>

            <div>
                <hr style="margin-top: 10px;" />
                <div class="links">
                    <a href="javascript:history.back()">Back</a>
                    <a href="/">Home</a>
                    <a href="/blog/">More</a>
                </div>
            </div>
        </div>
    </main>
</BlogPostLayout>

<style>

    main {
        display: flex;
        flex-wrap: wrap;

        gap: 20px;

        margin: auto;

        line-height: 1.6;
    }

    .center {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: auto;

        width: 100%;
        max-width: 720px;
    }


    .metadata * {
        margin: 0px;
    }

    .content h1,
    h2,
    h3 {
        line-height: 1.2;
    }

    .content {
        padding: 0 10px;
        font-size: 18px;
    }

    .links {
        display: flex;
        flex-direction: row;
        justify-content: start;
        margin-bottom: 20px;
        gap: 20px;
    }


	@media only screen and (max-width: 1024px) {
		main {
			flex-direction: column;
			width: 90%;
            margin: auto;
		}
	}

	@media only screen and (max-width: 768px) {

	}
</style>
