---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import HeaderTile from '../components/HeaderTile.astro';
import QuickLink from '../components/QuickLink.astro';
import Updates from '../components/Updates.astro';
import BlogTile from '../components/BlogTile.astro';---

<Layout title="Welcome | Kevin Cordero">
	<NavBar></NavBar>
	<main>
		<div class="left">
			<BlogTile date="2024-06-05" title="Welcome!" src="/placeholder.png">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet porttitor eget dolor. Vel turpis nunc eget lorem dolor sed viverra ipsu...
            </BlogTile>
            <BlogTile date="2024-06-05" title="Welcome!" src="/placeholder.png">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet porttitor eget dolor. Vel turpis nunc eget lorem dolor sed viverra ipsu...
            </BlogTile>
            <BlogTile date="2024-06-05" title="Welcome!" src="/placeholder.png">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet porttitor eget dolor. Vel turpis nunc eget lorem dolor sed viverra ipsu...
            </BlogTile>
		</div>

		<div class="right">
			<HeaderTile title="Favorites">
				<div class="updates">
					<Updates date="2024-06-05" type="Blog Post" title="I made a website!" summary='a short summary of the technologies that make up my website and so on and so forth'></Updates>
					<Updates date="2024-06-05" type="Project" title="silentspaces.info" summary='a short summary of the technologies that make up my website and so on and so forth'></Updates>
				</div>
			</HeaderTile>
		</div>
	</main>
</Layout>

<style is:global>
    p {
		font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		line-height: 1.6;
		font-size: 16px;
		margin: 0;
	}

	.updates {
		display: flex;
		flex-direction: column;

		gap: 20px;
	}
</style>
