---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import HeaderTile from '../components/HeaderTile.astro';
import QuickLink from '../components/QuickLink.astro';
import Updates from '../components/Updates.astro';
import BlogThumbnail from '../components/BlogTile.astro';
import ProjectTile from '../components/ProjectTile.astro';
---

<Layout title="Projects | Kevin Cordero">
	<main>
		<ProjectTile title="silentspaces.info" link="https://silentspaces.info" src={["/projects/silent_spaces.png"]} github='https://github.com/Olympicene/Silent-Spaces'>
			All-in-one study buddy helping you find the best study spaces near you. Made for CS 440 @ UIC
		</ProjectTile>
		<ProjectTile title="olympicene.dev" link="https://olympicene.dev" src={["/projects/olympicene.png"]} github='https://github.com/Olympicene/olympicene.dev'>
			Personal website written in astro containg blog posts, projects, useful links and contact info
		</ProjectTile>
		<ProjectTile title="sparkhacksatuic.com/" link="https://sparkhacksatuic.com/" src={["/projects/sparkweb.png"]} github='https://github.com/SparkHacks/SparkWeb'>
			The Official Website of Sparkhacks 2024 where I was lead Co-Lead Webdev
		</ProjectTile>
		<ProjectTile title="Spotify-Beeper Bot" src={["/projects/spotify.png", "/projects/beeper.png"]} github='https://github.com/Olympicene/spotify-messenger-bot'>
			Beeper bot that adds one song to a Spotify playlist per person, per day.
		</ProjectTile>
		<ProjectTile title="Automation-Scripts" src={["/projects/autohotkey.png", "/projects/python.png"]} github='https://github.com/Olympicene/autohotkey-scripts'>
			A Personal selection of Autohokey and python scripts that I currently/have found to be useful
		</ProjectTile>
		<ProjectTile title="Messenger-Stats-CLI" src={["/projects/messenger.png"]} github='https://github.com/Olympicene/messenger-react-counter'>
			A CLI that parses messenger archive data to find interesting stats
		</ProjectTile>
		<!-- <ProjectTile title="Homelab" src={["/projects/homelab.png"]} github='https://github.com/Olympicene'>
			Current Setup of my Homelab and all the services that i self-host on it. Plus some ansible scripts
		</ProjectTile> -->
	</main>
</Layout>

<style>
	@media only screen and (max-width: 1024px) {
		main {
			flex-direction: column;
			width: 90%;
		}
	}

	@media only screen and (max-width: 768px) {

	}
</style>
