---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import NavBar from '../components/NavBar.astro';
import HeaderTile from '../components/HeaderTile.astro';
import QuickLink from '../components/QuickLink.astro';
import Updates from '../components/Updates.astro';
import BlogThumbnail from '../components/BlogThumbnail.astro';
import ProjectTile from '../components/ProjectTile.astro';
---

<Layout title="Welcome | Kevin Cordero">
	<NavBar></NavBar>
	<main>
		<ProjectTile title="silentspaces.info" link="https://silentspaces.info" src={["/projects/silent_spaces.png"]} github='https://github.com/Olympicene/Silent-Spaces'>
			an all-in-one study buddy helping you find the best study spaces near you. Made over the course of 16 weeks for CS 440 @ UIC
		</ProjectTile>
		<ProjectTile title="silentspaces.info" link="https://silentspaces.info" src={["/projects/silent_spaces.png"]} github='https://github.com/Olympicene/Silent-Spaces'>
			an all-in-one study buddy helping you find the best study spaces near you. Made over the course of 16 weeks for CS 440 @ UIC
		</ProjectTile>
		<ProjectTile title="silentspaces.info" link="https://silentspaces.info" src={["/projects/silent_spaces.png"]} github='https://github.com/Olympicene/Silent-Spaces'>
			an all-in-one study buddy helping you find the best study spaces near you. Made over the course of 16 weeks for CS 440 @ UIC
		</ProjectTile>
		<ProjectTile title="silentspaces.info" link="https://silentspaces.info" src={["/projects/silent_spaces.png"]} github='https://github.com/Olympicene/Silent-Spaces'>
			an all-in-one study buddy helping you find the best study spaces near you. Made over the course of 16 weeks for CS 440 @ UIC
		</ProjectTile>
		<ProjectTile title="silentspaces.info" link="https://silentspaces.info" src={["/projects/silent_spaces.png"]} github='https://github.com/Olympicene/Silent-Spaces'>
			an all-in-one study buddy helping you find the best study spaces near you. Made over the course of 16 weeks for CS 440 @ UIC
		</ProjectTile>
		<ProjectTile title="silentspaces.info" link="https://silentspaces.info" src={["/projects/silent_spaces.png"]} github='https://github.com/Olympicene/Silent-Spaces'>
			an all-in-one study buddy helping you find the best study spaces near you. Made over the course of 16 weeks for CS 440 @ UIC
		</ProjectTile>
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;

		margin: auto;
		max-width: 50%;
		line-height: 1.6;
	}
</style>
