---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import NavBar from '../components/NavBar.astro';
import HeaderTile from '../components/HeaderTile.astro';
import QuickLink from '../components/QuickLink.astro';
import Updates from '../components/Updates.astro';
import BlogThumbnail from '../components/BlogTile.astro';
import ProjectTile from '../components/ProjectTile.astro';
---

<Layout title="Welcome | Kevin Cordero">
	<NavBar></NavBar>
	<main>
		<ProjectTile title="silentspaces.info" link="https://silentspaces.info" src={["/projects/silent_spaces.png"]} github='https://github.com/Olympicene/Silent-Spaces'>
			an all-in-one study buddy helping you find the best study spaces near you. Made over the course of 16 weeks for CS 440 @ UIC
		</ProjectTile>
		<ProjectTile title="olympicene.dev" link="https://silentspaces.info" src={["/projects/olympicene.png"]} github='https://github.com/Olympicene/olympicene.dev'>
			personal website containing blog posts, projects useful links and contact information for me, Kevin Cordero
		</ProjectTile>
		<ProjectTile title="Spotify-Beeper Bot" src={["/projects/spotify.png", "/projects/beeper.png"]} github='https://github.com/Olympicene/spotify-messenger-bot'>
			Beeper bot that when added to a groupchat adds one song to a Spotify playlist per person, per day.
		</ProjectTile>
		<ProjectTile title="Automation-Scripts" src={["/projects/autohotkey.png", "/projects/python.png"]} github='https://github.com/Olympicene/autohotkey-scripts'>
			A Personal selection of Autohokey and python scripts that I currently/have found to be useful
		</ProjectTile>
		<ProjectTile title="Messenger-Stats-CLI" src={["/projects/messenger.png"]} github='https://github.com/Olympicene/messenger-react-counter'>
			A command line tool that uses messenger archive data to find interesting statistics on chats that you’ve been in
		</ProjectTile>
		<ProjectTile title="Homelab" src={["/projects/homelab.png"]} github='https://github.com/Olympicene'>
			Current Setup of my Homelab and all the services that i self-host on it. Plus some ansible scripts
		</ProjectTile>
	</main>
</Layout>

<style>

</style>
