---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import HeaderTile from '../components/HeaderTile.astro';
import QuickLink from '../components/QuickLink.astro';
import Updates from '../components/Updates.astro';
import BlogThumbnail from '../components/BlogTile.astro';
---

<Layout title="Resume | Kevin Cordero">
	<main>
		<div class="center">
			<HeaderTile title='Contact'>
				<div class="links">
					<div class="text">
						<p class="email">You can email me at <span class="important">‮em.notorp@oredrocjk</span> </p>
						<p>(email is obscured to avoid webscrapers)</p>
					</div>
	
					<div class="socials">
						<a href="https://github.com/Olympicene" ><img src="/socials/github.png"/></a>
						<a href="https://www.linkedin.com/in/kevin-cordero/"><img src="/socials/linkedin.png"/></a>
					</div>
				</div>
		</HeaderTile>

			<HeaderTile title='Resume'>
				<iframe src="https://drive.google.com/file/d/12L1EvXR5vfZQst6miuIIjpym9a4t5G6K/preview" width="100%" height="480" allow="autoplay"></iframe>
			</HeaderTile>
		</div>
	</main>
</Layout>

<style>
		.links {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.socials {
		display: flex;
		flex-direction: row;
		gap: 20px;
	}

	.important {
		text-decoration: underline;
	}

	.email {
		font-size: 20px;
	}

	p {
		margin: 0;
	}

	.center {
		display: flex;
		flex-direction: column;
		gap: 20px;

		width: 100%;
	}

	@media only screen and (max-width: 1024px) {
		main {
			flex-direction: column;
			width: 90%;
		}
	}

	@media only screen and (max-width: 768px) {

	}
</style>
