---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import HeaderTile from '../components/HeaderTile.astro';
import QuickLink from '../components/QuickLink.astro';
import Updates from '../components/Updates.astro';
import BlogThumbnail from '../components/BlogTile.astro';
---

<Layout title="Welcome | Kevin Cordero">
	<NavBar></NavBar>
	<main>

	</main>
</Layout>

<style>

</style>
