---
interface Props {
    date: string;
    title: string;
    summary?: string;
    src: string;
    link?: string;
}

const { date, title, summary="", src, link=""} = Astro.props;
---

<a href={link}>
    <div class='tile'>
        <img class="picture" src={src}>
        <div class="text">
            <p class="metadata">{date} - {title}</p>
            <slot/>
        </div>
    </div>
</a>


<style>
    .tile {
        display: flex;
        gap: 12px;

        background-color: #DEE2E6;
        border-radius: 10px;
        padding: 12px 12px 12px 12px;
        box-sizing: border-box;
    }

    .picture {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }

    .text {
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: #343a40;
    }

    .metadata {
        font-size: 20px;
    }

    @media only screen and (max-width: 1024px) {

	}

	@media only screen and (max-width: 768px) {
        .tile {
            flex-direction: column;
        }
    }
</style>
