---
interface Props {
	title: string;
    class?: string;
    tall?: boolean;
}

const { title, tall=false} = Astro.props;
---
<div class='tile' style={tall ? "height:100%" : "top: 20px;"}>
    <p class="title">{title}</p>
    <hr>
    <div class="content">
        <slot/>
    </div>
</div>

<style>
    .tile {
        background-color: #DEE2E6;
        border-radius: 10px;
        padding: 10px 20px 20px 20px;
        box-sizing: border-box;
        
    }

    .title {
        font-size: 24px;
        margin: 0;
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    hr {
        margin: 5px 0 10px 0;
    }
</style>
