---
interface Props {
	src: Array<string>;
    title: string;
    link?: string;
    github?: string;
}

const { src, title, link, github} = Astro.props;
---
<div class='tile'>
    <a href={github} target={github ? "_blank" : ""}><img class="github" src="/projects/github.png" /></a>
    <div class='images'>
        {src.map((data) => <img src={data}/>)}
    </div>

    <a href={link} target={link ? "_blank" : ""}>
        <p class:list={["title", link ? "link" : ""]}>{title}</p>
    </a>
    
    <div class="content">
        <slot/>
    </div>
</div>

<style>
    .tile {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        background-color: #DEE2E6;
        border-radius: 10px;
        padding: 30px 60px 25px 60px;

        box-sizing: border-box;
        max-width: calc(50% - 20px);
    }

    .images {
        display: flex;
        gap: 20px;
    }

    .github {
        position: absolute;
        top: 5px;
        left: 5px;
        z-index: 2;
    }

    .title {
        font-size: 24px;
        margin: 0;
        padding-top: 10px;
        color: black;
    }

    .link {
        text-decoration: underline 2px black;
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        gap: 20px;
        line-height: 1.2;

    }

    .disabled {
        cursor: default;
    }

    hr {
        margin: 5px 0 10px 0;
    }
</style>
